header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25.3rem;
  height: 10rem;
  background-color: hsla(0, 0%, 11%, 0.432);
}
header nav {
  font-size: 2rem;
}